GOOGLE_CLIENT_ID=//your google client id
GOOGLE_CLIENT_SECRET=//your google client secret
NEXTAUTH_SECRET=//your next auth secret
# when deployed replace this with the deployed frontend url
NEXTAUTH_URL=http://localhost:3000
# when deployed replace this with the deployed backend url
NEXT_PUBLIC_API_BASE_URL=http://localhost:5000/api/v1 

NEXT_PUBLIC_DEEPSEEK_AI_API_KEY=//your deepseek ai api key
